.form-button-menu {

  display: flex;
  width: 70%;
  height: 60px;
  border-radius: 50px;

  font-size: 3vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  justify-content: center;
  align-items: center;

  color: #FFF;
  background: #232323;

}



.person-box {
  width: 70%;
  height: 20rem;
  border-radius: 50px;
  padding: 1rem;

  font-size: 2vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  justify-content: center;
  align-items: center;

  background: #232323;
  color: #FFF;
}
.form-box {
  width: 30%;
  height: 30rem;
  border-radius: 50px;
  padding: 1rem;
  padding-top: 3rem;

  font-size: 2vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  justify-content: center;
  align-items: center;

  background: #232323;
  color: #FFF;
}

.person-box p {
  color: #cfc9c9;
}

.person-box button {
  display: flex;
  width: 20rem;
  height: 3rem;
  border-radius: 50px;
  margin-top: 1rem;

  font-size: 1.5vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  justify-content: center;
  align-items: center;

  color: #FFF;
  background: #7d7d7d;

}

.search-space{
  border-radius: 50px;
  width: 20%;
  right: 3%;
   position: absolute;
   text-indent: 9%;
  
}
.back-button{
  background-color: #303030;
  color: #FFF;
  height: 60px;
  width: 6%;
  border-radius: 0px 30px 30px 0px;
  font-size: 3vh;
  font-weight: bold;
}
.create-button{
  background-color: #303030;
  color: #FFF;
  height: 35px;
  width: 8%;
  border-radius: 0px 30px 30px 0px;
  font-size: 2vh;
  font-weight: bold;
}


.input_symbol i{
  position: absolute;
  right: 21.4%;
  top: 16.7%;
}




