.submit-email-box{
    
  width: 40%;
  height: 550px;
  border-radius: 35px;
  background: #232323;
  color: #FFFFFF;
 
  
  padding: 30px 30px;
  text-align: center;
}
.submit-matrix-box{
    
    width:70%;
    height: 550px;
    border-radius: 35px;
    background: #232323;
    color: #FFFFFF;
    font-size: 2vh;
    
    padding: 30px 30px;
    text-align: center;
}
.matrix-input{
    width: 80%;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #8B4F4F;
  background: #FFF;
  
  color: rgba(0, 0, 0, 0.31);
  text-align: center;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.newpassword-input{
    text-indent: 5%;
    width: 70%;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #8B4F4F;
  background: #FFF;
  
  color: rgba(0, 0, 0, 0.31);
  text-align: center;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.submit-password-box{
    
    width:40%;
    height: 550px;
    border-radius: 35px;
    background: #232323;
    color: #FFFFFF;
    font-size: 2vh;
    
    padding: 30px 30px;
    text-align: center;
}
