html, body, #root,.App{
  height: 100%;
}
.backgroundImage {
  
  overflow: hidden;
  background-image: url('../public/bgImage.png');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}

.inversion-title {
  width: 576px;
  height: 241px;
  text-align: center;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.login-box {

  width: 450px;
  height: 550px;
  border-radius: 35px;
  background: #232323;
  color: #FFFFFF;
  box-sizing: border-box;
  
  padding: 70px 30px;
  text-align: center;
}

.form-input {
  
  width: 320px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #8B4F4F;
  background: #FFF;
  text-indent: 5%;
  color: rgba(0, 0, 0, 0.31);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-button {
  
  display: flex;
  width: 320px;
  height: 60px;
  border-radius: 50px;


  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  justify-content: center;
  align-items: center;

  color: #FFF;
  background: #58585B;

}